.card-text {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    overflow: hidden;
}

main {
    margin-top: 100px;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    justify-content: space-between;
    background-color: lightslategray;
    padding: 10px;
    width: 100%;
}

nav ul li {
    margin-left: 20px;
    list-style: none;
}

nav button {
    /* margin-left: 200px; */
    margin: 20px;
    padding: 5px;
    background-color: rgb(241, 255, 137);
}


.card {
    margin: 20px;
    background-color: lightslategray;
}

.row {
    display: flex;
    justify-content: center;
}

body {
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightslategray;
    width: 100vw;
    position: sticky;
    bottom: 0;
    right: 0;
}

footer li {
    list-style: none;
}

.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 73.1vh;
}